@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::after,*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  overflow-x: hidden;
  ::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
}

@font-face {
  font-family: league-gothic;
  src: url(./assets/fonts/LeagueGothic-Regular-VariableFont_wdth.ttf);
}
@font-face {
  font-family: rubik-wet;
  src: url(./assets/fonts/RubikWetPaint-Regular.ttf);
}
@font-face {
  font-family: metropolis;
  src: url(./assets/fonts/Metropolis-Regular.otf);
}

:root{
  --font-links: 'league-gothic';
  --font-project-name : 'rubik-wet';
  --font-project-desc : 'metropolis';
  --font-size-primary: 2rem; 
}

.text-uppercase{
  text-transform: uppercase;
}

.text-head-sub{
  font-size: 11rem;
}

html,body{
  /* height: 100%; */
  width: 100%;
}

body{
  background: black;
}

.header{
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar{
    /* background-color: red; */
    position: fixed;
    /* max-width: 100%; */
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
  background: url(/src/assets/logo.png);
  height: 100px;
  width: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(1.5) saturate(0%);
}

.nav-items{
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img{
  max-width: 400% !important;
}

h1{
  font-family: var(--font-links);
}

.text{
  overflow: hidden;
}

li {
  list-style: none;
}

a{
  text-decoration: none;
  font-family: var(--font-links);
  font-size: var(--font-size-primary);
  cursor: pointer;
}
button{
  background:#5BC0A6;
  height: 50px;
  width: 100%;
  text-align: center;
  font-family: var(--font-links);
  font-size: var(--font-size-primary);
  border-radius: 36px;
  cursor: pointer;
  overflow: hidden;
}


.nav-items>li:last-child{
  width: 35%;
}

.main{
  position: relative;
  background: black;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.parallax{
  pointer-events: none;
  /* cubic beizer is used to make animation faster or slower at differennt times in graphs */
  /* transition: 0.4s cubic-bezier(.2,.49,.32,.99);  */
  transition: 0.4s cubic-bezier(0.07, 0.12, 0.79, 0.31);
}

.bg-models{
  position: absolute;
  width: 1400px;
  top: calc(50% + 100px);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.text-hero{
  position: absolute;
  z-index: 2;
  top: calc(50% - 40px);
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  text-transform: uppercase;
  color: white;
  pointer-events: auto;
}

::selection{
  background:#5BC0A6;
}

.text-head{
  
  font-weight: 800;
  font-size: 16rem;
}

.bg-cloud-back {
  position: absolute;
  width: 1867px;
  top: calc(50% + 161px);
  left: calc(50% - 198px);
  transform: translate(-50%, -50%);
  z-index: 3;
}
.plane{
  position: absolute;
  width: 150px;
  top: calc(50% - 200px);
  left: calc(50% + 150px);
  transform: translate(-50%, -50%);
  z-index: 4;
}

.plane-2{
  top: calc(50% - 260px);
  left: calc(50% + 600px);
}

.bg-planes{
  position: absolute;
  width: 1500px;
  top: calc(50% + 356px);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.bg-cloud-front {
  position: absolute;
  width: 1584px;
  top: calc(50% - -105px);
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
}

.about{
  padding-top: 8vh;
  background: black;
  height: 105vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10vh;

}

.about-models{
  position: absolute;
  height: 100%;
  width: 100%;
}

.about-content{
  display: flex;
  width: 60%;
  padding-left: 10vw;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.about-head{
  font-family: var(--font-links);
  font-size: 12rem;
}

.softwares{
  padding-left: 10vw;
}

.rectangle-1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 50%;
  background: #7CDAFF;
  border-radius: 77px;
  opacity: 35%;
  backdrop-filter: blur(98px);
  border: #378dfd solid;
}

.rectangle-odd{
  transform: rotateZ(17deg);

}
.rectangle-even{
  transform: rotateZ(-17deg);

}
.rectangle-2{
  height: 80%;
  width: 95%;
  background: #7CDAFF;
  border-radius: 77px;
  opacity: 35%;
  border: #378dfd solid;
  backdrop-filter: blur(98px);
}

.rec-img{
  height: 54vh;
  width: 60vw;
  background: url(/src/assets/images/about_box.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.about>p{
  position: absolute;
  height: 22%;
  width: 35%;
  font-size: 1.2rem;
  top: 167%;
  left: 35%;
  /* transform: rotateZ(17deg); */
}

.portfolio{
  height: 100vh;
  width: 100vw;
  position: relative;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./assets/images/lights.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom left;
  padding-top: 28vh;
}

.portfolio-head {
  position: absolute;
  top: 10%;
  font-size: 16rem;
}

.cylinder{
  z-index: 1;
}

.projects{
  width: 100vw;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 28vh;
}

.project-items{
  width: 74%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  z-index: 2;
  gap: 75px;

}
.project-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 25%;
  height: 70vh;
  background-color: rgba(124, 218, 255, 0.36);
  border-radius: 24px;
}

.projects>.text-head{
  position: absolute;
  top: 309%;
}

.project-img{
  height: 44%;
  width: 100%;
  /* background: url(/src/assets/images/proj.png); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.project-name{
  font-family: var(--font-project-name);
  font-size: 1.5rem;
  text-align: center;
}

.project-desc{
  text-align: center;
  font-family: var(--font-project-desc);
}

.project-btn{
  width: 66%;
}

.popUp{
  /* display: none; */
  position: fixed;
  top: 15%;
  z-index: 1000;
  background: transparent;
  height: 78vh;
  width: 82vw;
  backdrop-filter: blur(40px);
  background: rgba(124, 218, 255, 0.36);
  border-radius: 20px;
  object-fit: cover;
  overflow: hidden;
}

video{
  height:100%;
  width: 100%;
}

.close-btn{
  position: absolute;
  top: 0;
  right: 80px;
  width: 9.9%;
  background-color: transparent;
}

.close-btn > svg{
  height: 6vh;
  width: 10vw;
}

.quotation {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.quotation-info{
  height: 91%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 15vh 0;
  gap: 22vh;
}

form{
  height: 65%;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 5vh;
  flex-wrap: wrap;
}

.social > .icons{
  display: flex;

}
.address{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.quotation-text{
  font-family: var(--font-links);
  font-size: calc(var(--font-size-primary)*3);
}

#phone , #e_mail{
  width: 17vw;
}

input{
  background: #55588F;
  border: 0;
}

.btn-submit{
  width: 50%;
  margin: 0 auto;
}

.burger {
  cursor: pointer;
}


.line {
  width: 33px;
  background-color: white;
  height: 4px;
  margin: 5px 5px;
}

.project-desc.truncated {
  position: relative;
}



/* Optional: Add fade effect at the bottom of truncated text */
.project-desc.truncated::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 1.6em;
  background: linear-gradient(to bottom, transparent, #ffffff);
  pointer-events: none;
}

.bg-blur{
  backdrop-filter: blur(15px);
}

.sidebar{
  position: fixed;
  height: 100vh;
  width:100%;
  background: rgb(124, 218, 255, 0.8);;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  padding: 12vh 0;
}

.last-li-btn{
  width: 50%;
  margin-top: auto; 
}

.sidebar-close-btn {
  position: absolute;
  background-color: transparent;
  height: auto;
  top: 6%;
  right: 6%;
  width: auto;
}

.sidebar-close-btn > svg {
  height: 10vh;
  width: 18vw;
}